/*


*/
body {
	font-family: 'Noto Sans', sans-serif;
}

.cardWrap {
	width: 460px;
	margin: 25px auto;
	position: relative;
}

.cardWrap input {
	width: 100%;
}

.cardWrap h1 {
	font-size: 36px;
  font-family: 'Noto Sans', sans-serif;
  text-transform: capitalize;
}

/*red*/
.cardWrap input {
	display: block;
	background: #F66576;
} 

/*green*/
.cardWrap input.good {
	background: #68C49F;
}

/*orange*/
.cardWrap .help {
	background: #EE9D00 !important;
	width: 24%;
	position: absolute;
	right: 0px;
}

/*blue*/
.submit {
	background: #2498DB;
	width: 25%;
}

/*Gets rid of the focus on inputs*/
input:focus{
    outline: none;
}

/*gives all elements standard box model props*/
input, .help, .submit {
    border: 5px solid white; 
    padding: 15px;
    margin: 0 0 -2px 0;
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    
}

/*red*/
.bad {
	background: #F66576;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}


/*admin_cards.php*/

.adminCards {
	font-size: 16px;
}